<section class="card">
  <div class="card-body">
    <h1>Acerca de</h1>
    <p>Este proyecto se desarrolló con el lenguaje de programación NodeJS, asi como en la parte del servidor se utilizó
      JavaScript. Este proyecto esta en base a una aplicación de notas en donde el usuario podrá guardar una variedad de
      notas, siendo que estas notas no podrán ser visualizadas por otros usuarios.</p>
  </div>
</section>