<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Aplicación NodeJS con MongoDB</h1>
  <p class="lead">Una aplicación sencilla para gestionar Notas desarrollada con NodeJS, Express, MongoDB y JavaScript.
  </p>
  <hr class="my-4" />
  <p>Para poder utilizar el sistema primero se debera Registrar.</p>
  <div>
    <a class="btn btn-primary btn-lg" href="/auth/signup" role="button">Registrar</a>
  </div>
</div>